<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
</head>


<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-4">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <img src=".././../assets/logo-group.svg">
                                    <br>
                                    <p>Bem-vindo ao Analytics</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-8 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <form method="post" class="form-validate" #formLogin="ngForm"
                                    (ngSubmit)="login(formLogin)">

                                    <div class="form-group">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="E-mailgit" value="Login" class="form-control"
                                                [(ngModel)]="nickname" name=nickname id='login-username'>
                                        </mat-form-field>
                                    </div>

                                    <button [disabled]="formLogin.invalid" id="login"
                                        class="btn btn-dark">Redefinir</button>

                                </form>
                                
                                    <a class="forgot-pass" [routerLink]="['']">Voltar</a> <br>
                                <!--
                                    <small>Do not have an account? </small><a href="register.html" class="signup">Signup</a>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>