<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Analytcs</title>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="avatar"><img src=".././../assets/avatar-5.jpg" class="img-circle" width="80%">
                </div>
                <h3>Administrador</h3>
                <h4>ADM</h4>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a [routerLink]="['/dashboard']">
                        <i class="glyphicon glyphicon-home"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a>
                        <i class="glyphicon glyphicon-duplicate"></i>
                        Analises de Sentimento
                    </a>
                </li>
                <li>
                    <a>
                        <i class="glyphicon glyphicon-paperclip"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a>
                        <i class="glyphicon glyphicon-send"></i>
                        Contato
                    </a>
                </li>
                <li>
                    <a id="logout" [routerLink]="['']">
                        <i class="glyphicon glyphicon-share"></i>
                        Logout
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li>
                    <img src=".././../assets/logo-group.svg" style="margin-top: 40px;
                    width: 85%;">
                </li>
            </ul>
        </nav>
        <div id="content" style="margin-left: -12px">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" style="background: rgb(121, 120, 131);">
                            <i class="glyphicon glyphicon-align-justify"></i>
                            Menu
                        </button>
                    </div>
                </div>
                <div style="margin-bottom: 50px">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3" style="font-size: 20px;">Usuários Cadastrados  <strong style="color: #796AEE"> {{contU}}
                                </strong></div>
                            <div class="col-sm-3" style="font-size: 20px;">Total de Análises
                                <strong style="color: #796AEE"> {{qtd_analises_total}}</strong></div>
                        </div>
                        <!-- <div class="row">
                                <div class="col-xs-6" style="font-size: 20px;">Análises de Legenda <strong>{{qtAnaliseLegenda}}</strong> </div>
                                <div class="col-xs-6" style="font-size: 20px;">Análises de Comentarios <strong> {{qtAnaliseComent}}</strong>
                                </div>
                            </div>-->
                    </div>
                </div>
            </nav>
            <div *ngIf="loading">
                <p style="color: #000"> Aguarde... </p>
            </div>

            <!-- Estatisticas -->
            <ng-container *ngIf="!loading">
                <div class="container" >
                    <div class="row" >
                        <div class="chart col-lg-6 col-12" style="position:relative">
                            <h2>Gráficos geral</h2>
                            <div class="analise">
                                <div style="display: block" class="bar">
                                    <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions"
                                        [labels]="radarChartLabels" [chartType]="radarChartType">
                                    </canvas>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="chart col-lg-6 col-12" style="position:relative">
                        <h2>Gráficos em Linhas</h2>
                        <div class="bar-chart has-shadow bg-white">


                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabens"
                                [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                            </canvas>

                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <footer style=" background: #796AEE;">
        <div class="container-fluid" style="text-align: center;" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12" style="margin-top: 5px; text-align: inherit;">
                    <p style="color:#fff;">
                        © 2019 Copyright:
                        Turma 0306 - Desenvlvimento de Sistemas de Informações

                    </p>
                </div>
            </div>
            <div class="row ">
                    <div class="col-sm-12" style="position: relative; margin: 2px 0;">
                            <img src=".././../assets/Curso - Ciência da Computação.png" width="80px" style="margin-right: 10px;">
                            <img src=".././../assets/engenharia.png" width="80px" style="margin-right: 10px;">
                            <img src=".././../assets/Curso - Sistemas de Informação.png" width="80px" style="margin-right: 10px;">
                    </div>
            </div>
        </div>
    </footer>



</body>

</html>